In [3]:
import os

import copy

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from scipy.stats import shapiro

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler, PowerTransformer

from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.pipeline import Pipeline, make_pipeline


from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, HistGradientBoostingRegressor
from sklearn.ensemble import StackingRegressor, VotingRegressor
import lightgbm as lgb
import xgboost as xgb

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, cross_val_score, train_test_split
from sklearn.model_selection import KFold, RepeatedKFold, GroupKFold
from sklearn.inspection import permutation_importance

from sklearn import metrics

import joblib
import pickle

from typing import List, Dict, Set

from colorama import Style, Fore
blk = Style.BRIGHT + Fore.BLACK
gld = Style.BRIGHT + Fore.YELLOW
grn = Style.BRIGHT + Fore.GREEN
red = Style.BRIGHT + Fore.RED
blu = Style.BRIGHT + Fore.BLUE
white = Style.BRIGHT +Fore.WHITE
cyan = Style.BRIGHT +Fore.CYAN
magenta = Style.BRIGHT +Fore.MAGENTA
res = Style.RESET_ALL

plt.rcParams['figure.dpi'] = 800
plt.rcParams['savefig.dpi'] = 800

sns.set(rc={"figure.dpi":800, 'savefig.dpi':800})
sns.set_context('notebook')
sns.set_style("ticks")

font_title = {
    'size': 20,
    'weight': 'bold',  # You can use 'weight' here instead of 'fontweight'
    'color': 'brown',
    'fontfamily': 'serif'
}
font_sub_title = {'family': 'serif',
        'color':  'brown',
        'weight': 'bold',
        'size': 16,
        }
font_label = {'family': 'serif',
        'color':  'brown',
        'weight': 'bold',
        'size': 16,
        }

In [4]:
from train import preProcess

In [5]:
df = pd.read_csv("data/car_mpg.csv")
# Use a lambda function to check if any value is only alphabetic
df['hp'] = df['hp'].apply(lambda x: x if x.isdecimal() else np.NaN)
df['hp'] = df['hp'].astype("float64")

In [6]:
y_col = ['mpg']
x_cols = [col for col in df.columns if col not in y_col]

# Specify columns by data type
cat_cols = [col for col in df.columns if df[col].dtype == 'object']
num_cols = [col for col in df.columns if col not in cat_cols+y_col]

In [7]:
df_preprocessed = preProcess(df[x_cols],scale="no")

Data is Imputed
--------------------------------------------------------------------------------

In [8]:
df_preprocessed

     cyl   disp     hp      wt   acc    yr  origin  car_type  car_name
0    8.0  307.0  130.0  3504.0  12.0  70.0     1.0       0.0      49.0
1    8.0  350.0  165.0  3693.0  11.5  70.0     1.0       0.0      36.0
2    8.0  318.0  150.0  3436.0  11.0  70.0     1.0       0.0     231.0
3    8.0  304.0  150.0  3433.0  12.0  70.0     1.0       0.0      14.0
4    8.0  302.0  140.0  3449.0  10.5  70.0     1.0       0.0     161.0
..   ...    ...    ...     ...   ...   ...     ...       ...       ...
393  4.0  140.0   86.0  2790.0  15.6  82.0     1.0       1.0     153.0
394  4.0   97.0   52.0  2130.0  24.6  82.0     2.0       1.0     301.0
395  4.0  135.0   84.0  2295.0  11.6  82.0     1.0       1.0     119.0
396  4.0  120.0   79.0  2625.0  18.6  82.0     1.0       1.0     159.0
397  4.0  119.0   82.0  2720.0  19.4  82.0     1.0       1.0      69.0

[398 rows x 9 columns]